.img-button {
    cursor: hand;
}

.domain-button {
    margin: 2px;
}

.task-table {
}

.detail-area {
    cursor: hand;
}

.alexa-pager {
    margin: 0;
}

.window-header-bar {
    margin: 0;
}

.window-header {
    padding-top: 0;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
}
